# Summary statistics

In [2]:
import pandas as pd
import numpy as np

**Load the dataset**

In [3]:
# Read csv for togo 
togo_df = pd.read_csv('../src/data/togo-dapaong_qc.csv')
# Read csv for sierraleone
sierralone_df = pd.read_csv('../src/data/sierraleone-bumbuna.csv')
# Read csv for benin
benin_df = pd.read_csv('../src/data/benin-malanville.csv')

**Display the Column names and the first five rows of the dataset**

In [56]:
# display column names of the togo dataset
togo_df.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

In [57]:
# display column names of the sierraleone dataset
sierralone_df.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

In [58]:
# display column names of the benin dataset
benin_df.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

In [5]:
print("show the first five of the togo solar radiation data")
togo_df.head()

show the first five of the togo solar radiation data

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

In [6]:
print("show the first five of the benin-malanville solar radiation data")
benin_df.head()

show the first five of the benin-malanville solar radiation data

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [7]:
print("show the first five of the sierralone-bumbuna solar radiation data")
sierralone_df.head()

show the first five of the sierralone-bumbuna solar radiation data

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

***1, *Information about the datas****

In [8]:
# information about the togo data set
togo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [9]:
# information about the sierraleone data sets
sierralone_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [11]:
# information about the benin data sets
benin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

------------------------------------------------------------------------------------------------------------------------

***2, *Descriptive statistics for the dataset****

In [12]:
# describe togo data set in statistics
togo_df.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,230.555040,151.258469,116.444352,226.144375,219.568588,27.751788,55.013160,2.368093,3.229490,0.557740,161.741845,10.559568,975.915242,0.000535,0.001382,32.444403,33.543330,NaN
std,322.532347,250.956962,156.520714,317.346938,307.932510,4.758023,28.778732,1.462668,1.882565,0.268923,91.877217,5.915490,2.153977,0.023116,0.026350,10.998334,12.769277,NaN
min,-12.700000,0.000000,0.000000,0.000000,0.000000,14.900000,3.300000,0.000000,0.000000,0.000000,0.000000,0.000000,968.000000,0.000000,0.000000,13.100000,13.100000,NaN
25%,-2.200000,0.000000,0.000000,0.000000,0.000000,24.200000,26.500000,1.400000,1.900000,0.400000,74.800000,6.900000,975.000000,0.000000,0.000000,23.900000,23.600000,NaN
50%,2.100000,0.000000,2.500000,4.400000,4.300000,27.200000,59.300000,2.200000,2.900000,0.500000,199.100000,10.800000,976.000000,0.000000,0.000000,28.400000,28.400000,NaN
75%,442.400000,246.400000,215.700000,422.525000,411.000000,31.100000,80.800000,3.200000,4.400000,0.700000,233.500000,14.100000,977.000000,0.000000,0.000000,40.600000,43.000000,NaN
max,1424.000000,1004.500000,805.700000,1380.000000,1367.000000,41.400000,99.800000,16.100000,23.100000,4.700000,360.000000,86.900000,983.000000,1.000000,2.300000,70.400000,94.600000,NaN

In [14]:
# describe sierraleone data set in statistics
sierralone_df.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,201.957515,116.376337,113.720571,206.643095,198.114691,26.319394,79.448857,1.146113,1.691606,0.363823,133.044668,7.172220,999.876469,0.000967,0.004806,32.504263,32.593091,NaN
std,298.495150,218.652659,158.946032,300.896893,288.889073,4.398605,20.520775,1.239248,1.617053,0.295000,114.284792,7.535093,2.104419,0.031074,0.047556,12.434899,12.009161,NaN
min,-19.500000,-7.800000,-17.900000,0.000000,0.000000,12.300000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,993.000000,0.000000,0.000000,10.700000,11.100000,NaN
25%,-2.800000,-0.300000,-3.800000,0.000000,0.000000,23.100000,68.700000,0.000000,0.000000,0.000000,0.000000,0.000000,999.000000,0.000000,0.000000,23.500000,23.800000,NaN
50%,0.300000,-0.100000,-0.100000,3.600000,3.400000,25.300000,85.400000,0.800000,1.600000,0.400000,161.500000,6.200000,1000.000000,0.000000,0.000000,26.600000,26.900000,NaN
75%,362.400000,107.000000,224.700000,359.500000,345.400000,29.400000,96.700000,2.000000,2.600000,0.600000,234.100000,12.000000,1001.000000,0.000000,0.000000,40.900000,41.300000,NaN
max,1499.000000,946.000000,892.000000,1507.000000,1473.000000,39.900000,100.000000,19.200000,23.900000,4.100000,360.000000,98.400000,1006.000000,1.000000,2.400000,72.800000,70.400000,NaN

In [15]:
# describe benin data set in statistics
benin_df.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN
std,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN
min,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN
50%,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN
75%,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN

------------------------------------------------------------------------------------------------------------------------

In [25]:
# Function to compute summary statistics of a DataFrame
def compute_mean(df, name):
    """
    Calculate and print summary statistics for the given DataFrame.
    Parameters:
        df (pd.DataFrame): The DataFrame to analyze.
        name (str): Name of the dataset for context in output.
    """
    print(f"Mean Summary Statistics for {name}:")
    print("-" * 50)
    print("Mean:\n", df.mean(numeric_only=True))
    print("\n\n")

In [26]:
# Compute mean for each dataset of sierra leone
compute_mean(sierralone_df, "Sierra Leone")

Mean Summary Statistics for Sierra Leone:
--------------------------------------------------
Mean:
 GHI              201.957515
DNI              116.376337
DHI              113.720571
ModA             206.643095
ModB             198.114691
Tamb              26.319394
RH                79.448857
WS                 1.146113
WSgust             1.691606
WSstdev            0.363823
WD               133.044668
WDstdev            7.172220
BP               999.876469
Cleaning           0.000967
Precipitation      0.004806
TModA             32.504263
TModB             32.593091
Comments                NaN
dtype: float64

In [27]:
# Compute mean for each dataset of benin
compute_mean(benin_df, "Benin")

Mean Summary Statistics for Benin:
--------------------------------------------------
Mean:
 GHI              240.559452
DNI              167.187516
DHI              115.358961
ModA             236.589496
ModB             228.883576
Tamb              28.179683
RH                54.487969
WS                 2.121113
WSgust             2.809195
WSstdev            0.473390
WD               153.435172
WDstdev            8.582407
BP               994.197199
Cleaning           0.000923
Precipitation      0.001905
TModA             35.246026
TModB             32.471736
Comments                NaN
dtype: float64

In [28]:
# Compute mean for each dataset of togo
compute_mean(togo_df, "Togo")

Mean Summary Statistics for Togo:
--------------------------------------------------
Mean:
 GHI              230.555040
DNI              151.258469
DHI              116.444352
ModA             226.144375
ModB             219.568588
Tamb              27.751788
RH                55.013160
WS                 2.368093
WSgust             3.229490
WSstdev            0.557740
WD               161.741845
WDstdev           10.559568
BP               975.915242
Cleaning           0.000535
Precipitation      0.001382
TModA             32.444403
TModB             33.543330
Comments                NaN
dtype: float64

In [29]:
# Function to compute summary statistics
def compute_median(df, name):
    """
    Calculate and print summary statistics for the given DataFrame.
    Parameters:
        df (pd.DataFrame): The DataFrame to analyze.
        name (str): Name of the dataset for context in output.
    """
    print(f"Median Summary Statistics for {name}:")
    print("-" * 50)
    print("\nMedian:\n", df.median(numeric_only=True))
    print("\n\n")

In [30]:
# Compute median for each dataset of sierra leone
compute_median(sierralone_df, "Sierra Leone")

Median Summary Statistics for Sierra Leone:
--------------------------------------------------

Median:
 GHI                 0.3
DNI                -0.1
DHI                -0.1
ModA                3.6
ModB                3.4
Tamb               25.3
RH                 85.4
WS                  0.8
WSgust              1.6
WSstdev             0.4
WD                161.5
WDstdev             6.2
BP               1000.0
Cleaning            0.0
Precipitation       0.0
TModA              26.6
TModB              26.9
Comments            NaN
dtype: float64

In [31]:
# Compute median for each dataset of benin
compute_median(benin_df, "Benin")

Median Summary Statistics for Benin:
--------------------------------------------------

Median:
 GHI                1.8
DNI               -0.1
DHI                1.6
ModA               4.5
ModB               4.3
Tamb              28.0
RH                55.1
WS                 1.9
WSgust             2.6
WSstdev            0.5
WD               181.0
WDstdev            8.6
BP               994.0
Cleaning           0.0
Precipitation      0.0
TModA             30.0
TModB             28.9
Comments           NaN
dtype: float64

In [32]:
# Compute median for each dataset of togo
compute_median(togo_df, "Togo")

Median Summary Statistics for Togo:
--------------------------------------------------

Median:
 GHI                2.1
DNI                0.0
DHI                2.5
ModA               4.4
ModB               4.3
Tamb              27.2
RH                59.3
WS                 2.2
WSgust             2.9
WSstdev            0.5
WD               199.1
WDstdev           10.8
BP               976.0
Cleaning           0.0
Precipitation      0.0
TModA             28.4
TModB             28.4
Comments           NaN
dtype: float64

In [35]:
# Function to compute summary statistics
def compute_std(df, name):
    """
    Calculate and print summary statistics for the given DataFrame.
    Parameters:
        df (pd.DataFrame): The DataFrame to analyze.
        name (str): Name of the dataset for context in output.
    """
    print(f"Standard Deviation Summary Statistics for {name}:")
    print("-" * 50)
    print("\nStandard Deviation:\n", df.std(numeric_only=True))
    print("\n\n")

In [36]:
# Compute standard deviation for each dataset of sierra leone
compute_std(sierralone_df, "Sierra Leone")

Standard Deviation Summary Statistics for Sierra Leone:
--------------------------------------------------

Standard Deviation:
 GHI              298.495150
DNI              218.652659
DHI              158.946032
ModA             300.896893
ModB             288.889073
Tamb               4.398605
RH                20.520775
WS                 1.239248
WSgust             1.617053
WSstdev            0.295000
WD               114.284792
WDstdev            7.535093
BP                 2.104419
Cleaning           0.031074
Precipitation      0.047556
TModA             12.434899
TModB             12.009161
Comments                NaN
dtype: float64

In [37]:
# Compute standard deviation for each dataset of benin
compute_std(benin_df, "Benin")

Standard Deviation Summary Statistics for Benin:
--------------------------------------------------

Standard Deviation:
 GHI              331.131327
DNI              261.710501
DHI              158.691074
ModA             326.894859
ModB             316.536515
Tamb               5.924297
RH                28.073069
WS                 1.603466
WSgust             2.029120
WSstdev            0.273395
WD               102.332842
WDstdev            6.385864
BP                 2.474993
Cleaning           0.030363
Precipitation      0.037115
TModA             14.807258
TModB             12.348743
Comments                NaN
dtype: float64

In [38]:
# Compute standard deviation for each dataset of togo
compute_std(togo_df, "Togo")

Standard Deviation Summary Statistics for Togo:
--------------------------------------------------

Standard Deviation:
 GHI              322.532347
DNI              250.956962
DHI              156.520714
ModA             317.346938
ModB             307.932510
Tamb               4.758023
RH                28.778732
WS                 1.462668
WSgust             1.882565
WSstdev            0.268923
WD                91.877217
WDstdev            5.915490
BP                 2.153977
Cleaning           0.023116
Precipitation      0.026350
TModA             10.998334
TModB             12.769277
Comments                NaN
dtype: float64

------------------------------------------------------------------------------------------------------------------------

***3, *Skewness for the dataset****

In [39]:
# function to compute skewness
def compute_skewness(df, name):
    """
    Calculate and print summary statistics for the given DataFrame.
    Parameters:
        df (pd.DataFrame): The DataFrame to analyze.
        name (str): Name of the dataset for context in output.
    """
    print(f"Skewness Summary Statistics for {name}:")
    print("-" * 50)
    print("\nSkewness:\n", df.skew(numeric_only=True))
    print("\n\n")

In [40]:
# Compute skewness for each dataset of sierra leone
compute_skewness(sierralone_df, "Sierra Leone")

Skewness Summary Statistics for Sierra Leone:
--------------------------------------------------

Skewness:
 GHI               1.306489
DNI               1.778423
DHI               1.135894
ModA              1.319351
ModB              1.330266
Tamb              0.442960
RH               -1.115544
WS                1.187762
WSgust            1.079324
WSstdev           0.387988
WD                0.052799
WDstdev           1.254194
BP               -0.335478
Cleaning         32.119348
Precipitation    18.429123
TModA             0.969845
TModB             0.899161
Comments               NaN
dtype: float64

In [41]:
# Compute skewness for each dataset of benin
compute_skewness(benin_df, "Benin")

Skewness Summary Statistics for Benin:
--------------------------------------------------

Skewness:
 GHI               1.028446
DNI               1.290260
DHI               1.210406
ModA              1.067416
ModB              1.076031
Tamb              0.000512
RH               -0.026653
WS                0.868406
WSgust            0.928908
WSstdev           0.695449
WD               -0.084974
WDstdev           1.070081
BP               -0.263995
Cleaning         32.874282
Precipitation    34.620445
TModA             0.677442
TModB             0.616822
Comments               NaN
dtype: float64

In [42]:
# Compute skewness for each dataset of togo
compute_skewness(togo_df, "Togo")

Skewness Summary Statistics for Togo:
--------------------------------------------------

Skewness:
 GHI               1.107511
DNI               1.459863
DHI               1.198758
ModA              1.144337
ModB              1.145155
Tamb              0.300706
RH               -0.152969
WS                0.690870
WSgust            0.804713
WSstdev           0.896690
WD               -0.224855
WDstdev           0.535627
BP               -0.286392
Cleaning         43.214278
Precipitation    33.376267
TModA             0.817256
TModB             0.887881
Comments               NaN
dtype: float64

------------------------------------------------------------------------------------------------------------------------

***4, *Kurtosis for the dataset****

In [43]:
# function to compute kurtosis
def compute_kurtosis(df, name):
    """
    Calculate and print summary statistics for the given DataFrame.
    Parameters:
        df (pd.DataFrame): The DataFrame to analyze.
        name (str): Name of the dataset for context in output.
    """
    print(f"Kurtosis Summary Statistics for {name}:")
    print("-" * 50)
    print("\nKurtosis:\n", df.kurtosis(numeric_only=True))
    print("\n\n")

In [44]:
# Compute kurtosis for each dataset of sierra leone
compute_kurtosis(sierralone_df, "Sierra Leone")

Kurtosis Summary Statistics for Sierra Leone:
--------------------------------------------------

Kurtosis:
 GHI                 0.495377
DNI                 1.852020
DHI                 0.212132
ModA                0.470148
ModB                0.528235
Tamb               -0.316925
RH                  0.548357
WS                  2.464801
WSgust              2.862801
WSstdev             1.007128
WD                 -1.535615
WDstdev             3.341437
BP                 -0.045568
Cleaning         1029.656443
Precipitation     459.309282
TModA              -0.253683
TModB              -0.473115
Comments                 NaN
dtype: float64

In [45]:
# Compute kurtosis for each dataset of benin
compute_kurtosis(benin_df, "Benin")

Kurtosis Summary Statistics for Benin:
--------------------------------------------------

Kurtosis:
 GHI                -0.460184
DNI                 0.172956
DHI                 0.498993
ModA               -0.387674
ModB               -0.351332
Tamb               -0.444624
RH                 -1.298555
WS                  1.579008
WSgust              1.942468
WSstdev             3.348514
WD                 -1.255899
WDstdev             4.654392
BP                 -0.063902
Cleaning         1078.722537
Precipitation    1518.289300
TModA              -0.581054
TModB              -0.443101
Comments                 NaN
dtype: float64

In [46]:
# Compute kurtosis for each dataset of togo
compute_kurtosis(togo_df, "Togo")

Kurtosis Summary Statistics for Togo:
--------------------------------------------------

Kurtosis:
 GHI                -0.222829
DNI                 0.707086
DHI                 0.413656
ModA               -0.149148
ModB               -0.138051
Tamb               -0.437044
RH                 -1.367544
WS                  1.199291
WSgust              1.715251
WSstdev             4.213052
WD                 -1.226123
WDstdev             2.721223
BP                 -0.084234
Cleaning         1865.480926
Precipitation    1450.711560
TModA              -0.392205
TModB              -0.254396
Comments                 NaN
dtype: float64

------------------------------------------------------------------------------------------------------------------------

***5, *Correlation for the dataset****

In [52]:
# compute correlation for the dataset
"""
calculate the correlation between the variables in the sierra leone dataset
"""
print("Correlation for Sierra Leone")
print("-" * 50)
sierralone_df.corr(numeric_only=True)

Correlation for Sierra Leone
--------------------------------------------------

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
GHI,1.000000,0.869108,0.865815,0.995052,0.994614,0.641261,-0.546677,0.371309,0.411449,0.412536,0.404333,0.542041,-0.140519,0.008713,-0.062497,0.923092,0.912260,NaN
DNI,0.869108,1.000000,0.536710,0.876465,0.874956,0.578346,-0.548800,0.311493,0.342094,0.338732,0.315941,0.471341,-0.214597,0.002670,-0.053565,0.816449,0.808194,NaN
DHI,0.865815,0.536710,1.000000,0.850255,0.850799,0.568655,-0.431910,0.347216,0.385978,0.390400,0.403761,0.480960,-0.060303,0.018071,-0.061906,0.808479,0.807551,NaN
ModA,0.995052,0.876465,0.850255,1.000000,0.999127,0.637249,-0.564704,0.366454,0.406698,0.409789,0.394293,0.544326,-0.144652,0.006891,-0.062532,0.928274,0.912975,NaN
ModB,0.994614,0.874956,0.850799,0.999127,1.000000,0.633820,-0.557814,0.364795,0.404979,0.408429,0.394065,0.542186,-0.139502,0.008518,-0.062370,0.926682,0.911693,NaN
Tamb,0.641261,0.578346,0.568655,0.637249,0.633820,1.000000,-0.791937,0.539170,0.557139,0.483964,0.491221,0.572179,-0.511430,-0.011219,-0.063231,0.831892,0.855149,NaN
RH,-0.546677,-0.548800,-0.431910,-0.564704,-0.557814,-0.791937,1.000000,-0.471197,-0.483660,-0.416384,-0.348679,-0.509696,0.571448,0.010497,0.082483,-0.688057,-0.698477,NaN
WS,0.371309,0.311493,0.347216,0.366454,0.364795,0.539170,-0.471197,1.000000,0.973939,0.730147,0.566228,0.643085,-0.291319,-0.013065,0.125083,0.435944,0.455200,NaN
WSgust,0.411449,0.342094,0.385978,0.406698,0.404979,0.557139,-0.483660,0.973939,1.000000,0.840639,0.627186,0.700010,-0.276157,-0.011569,0.129594,0.474257,0.490846,NaN
WSstdev,0.412536,0.338732,0.390400,0.409789,0.408429,0.483964,-0.416384,0.730147,0.840639,1.000000,0.693726,0.724452,-0.191222,-0.006563,0.098419,0.462751,0.469503,NaN
WD,0.404333,0.315941,0.403761,0.394293,0.394065,0.491221,-0.348679,0.566228,0.627186,0.693726,1.000000,0.592488,-0.181143,-0.008514,0.021791,0.459756,0.482911,NaN
WDstdev,0.542041,0.471341,0.480960,0.544326,0.542186,0.572179,-0.509696,0.643085,0.700010,0.724452,0.592488,1.000000,-0.230340,-0.006520,0.039919,0.598750,0.601729,NaN
BP,-0.140519,-0.214597,-0.060303,-0.144652,-0.139502,-0.511430,0.571448,-0.291319,-0.276157,-0.191222,-0.181143,-0.230340,1.000000,0.017944,0.060087,-0.275505,-0.309169,NaN
Cleaning,0.008713,0.002670,0.018071,0.006891,0.008518,-0.011219,0.010497,-0.013065,-0.011569,-0.006563,-0.008514,-0.006520,0.017944,1.000000,-0.002757,0.000574,0.002311,NaN
Precipitation,-0.062497,-0.053565,-0.061906,-0.062532,-0.062370,-0.063231,0.082483,0.125083,0.129594,0.098419,0.021791,0.039919,0.060087,-0.002757,1.000000,-0.067956,-0.069059,NaN
TModA,0.923092,0.816449,0.808479,0.928274,0.926682,0.831892,-0.688057,0.435944,0.474257,0.462751,0.459756,0.598750,-0.275505,0.000574,-0.067956,1.000000,0.993228,NaN
TModB,0.912260,0.808194,0.807551,0.912975,0.911693,0.855149,-0.698477,0.455200,0.490846,0.469503,0.482911,0.601729,-0.309169,0.002311,-0.069059,0.993228,1.000000,NaN
Comments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# Compute correlation for each dataset of sierra leone
print("Correlation for Benin")
print("-" * 50)
benin_df.corr(numeric_only=True)

Correlation for Benin
--------------------------------------------------

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
GHI,1.000000,0.882376,0.849989,0.994443,0.994869,0.547513,-0.360029,0.457349,0.484144,0.446526,0.079664,0.547242,0.016913,0.007001,-0.036387,0.920127,0.874338,NaN
DNI,0.882376,1.000000,0.546602,0.892023,0.892012,0.467584,-0.373475,0.397099,0.419469,0.383303,0.018839,0.471152,0.029967,0.009934,-0.032781,0.790340,0.756007,NaN
DHI,0.849989,0.546602,1.000000,0.829923,0.827886,0.503925,-0.285018,0.426959,0.450904,0.414711,0.102752,0.505968,-0.009028,0.013086,-0.035466,0.825012,0.777829,NaN
ModA,0.994443,0.892023,0.829923,1.000000,0.998745,0.526868,-0.383205,0.458483,0.484429,0.443467,0.050262,0.538341,0.038301,0.006567,-0.035919,0.908981,0.856101,NaN
ModB,0.994869,0.892012,0.827886,0.998745,1.000000,0.525370,-0.365718,0.450123,0.476380,0.438523,0.061473,0.538331,0.039817,0.007017,-0.035852,0.912114,0.862234,NaN
Tamb,0.547513,0.467584,0.503925,0.526868,0.525370,1.000000,-0.414842,0.347188,0.362403,0.342418,0.188081,0.469857,-0.553705,-0.010058,-0.045705,0.761701,0.823353,NaN
RH,-0.360029,-0.373475,-0.285018,-0.383205,-0.365718,-0.414842,1.000000,-0.244108,-0.236497,-0.177058,0.282531,-0.218386,0.284643,0.006437,0.073785,-0.343841,-0.319846,NaN
WS,0.457349,0.397099,0.426959,0.458483,0.450123,0.347188,-0.244108,1.000000,0.984599,0.766948,0.238566,0.519071,0.040233,0.007822,0.126718,0.429899,0.400509,NaN
WSgust,0.484144,0.419469,0.450904,0.484429,0.476380,0.362403,-0.236497,0.984599,1.000000,0.841055,0.257456,0.568864,0.039512,0.008475,0.128566,0.458782,0.430020,NaN
WSstdev,0.446526,0.383303,0.414711,0.443467,0.438523,0.342418,-0.177058,0.766948,0.841055,1.000000,0.363990,0.618606,0.015536,0.007977,0.105187,0.440687,0.423140,NaN
WD,0.079664,0.018839,0.102752,0.050262,0.061473,0.188081,0.282531,0.238566,0.257456,0.363990,1.000000,0.301671,-0.136511,0.004726,-0.012247,0.164692,0.205442,NaN
WDstdev,0.547242,0.471152,0.505968,0.538341,0.538331,0.469857,-0.218386,0.519071,0.568864,0.618606,0.301671,1.000000,-0.070848,0.008895,0.017208,0.590963,0.593734,NaN
BP,0.016913,0.029967,-0.009028,0.038301,0.039817,-0.553705,0.284643,0.040233,0.039512,0.015536,-0.136511,-0.070848,1.000000,0.016542,0.049600,-0.165229,-0.243616,NaN
Cleaning,0.007001,0.009934,0.013086,0.006567,0.007017,-0.010058,0.006437,0.007822,0.008475,0.007977,0.004726,0.008895,0.016542,1.000000,-0.001560,0.010442,0.007080,NaN
Precipitation,-0.036387,-0.032781,-0.035466,-0.035919,-0.035852,-0.045705,0.073785,0.126718,0.128566,0.105187,-0.012247,0.017208,0.049600,-0.001560,1.000000,-0.040636,-0.039901,NaN
TModA,0.920127,0.790340,0.825012,0.908981,0.912114,0.761701,-0.343841,0.429899,0.458782,0.440687,0.164692,0.590963,-0.165229,0.010442,-0.040636,1.000000,0.983443,NaN
TModB,0.874338,0.756007,0.777829,0.856101,0.862234,0.823353,-0.319846,0.400509,0.430020,0.423140,0.205442,0.593734,-0.243616,0.007080,-0.039901,0.983443,1.000000,NaN
Comments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Compute correlation for each dataset of togo
print("Correlation for Togo")
print("-" * 50)
togo_df.corr(numeric_only=True)

Correlation for Togo
--------------------------------------------------

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
GHI,1.000000,0.877293,0.852080,0.994964,0.995439,0.562533,-0.258077,0.421698,0.443923,0.399646,0.089896,0.479291,0.059116,0.024725,-0.034598,0.898211,0.919220,NaN
DNI,0.877293,1.000000,0.532717,0.889702,0.889708,0.504499,-0.327887,0.366667,0.384870,0.343437,-0.017950,0.397511,0.047465,0.019777,-0.031397,0.765881,0.783572,NaN
DHI,0.852080,0.532717,1.000000,0.833037,0.832648,0.489758,-0.155016,0.390597,0.410531,0.367005,0.154095,0.454318,0.052307,0.026179,-0.033330,0.802319,0.820360,NaN
ModA,0.994964,0.889702,0.833037,1.000000,0.999564,0.561114,-0.287038,0.420344,0.442563,0.398559,0.057154,0.472525,0.064175,0.022523,-0.034314,0.886888,0.906796,NaN
ModB,0.995439,0.889708,0.832648,0.999564,1.000000,0.556133,-0.280072,0.421543,0.443570,0.398978,0.061090,0.472106,0.068740,0.023482,-0.034269,0.885551,0.906427,NaN
Tamb,0.562533,0.504499,0.489758,0.561114,0.556133,1.000000,-0.400410,0.197145,0.221104,0.227084,0.094900,0.361367,-0.520770,0.019391,-0.060178,0.805580,0.740832,NaN
RH,-0.258077,-0.327887,-0.155016,-0.287038,-0.280072,-0.400410,1.000000,-0.147589,-0.131119,-0.075714,0.521269,-0.075874,0.225176,-0.007095,0.068177,-0.244825,-0.224668,NaN
WS,0.421698,0.366667,0.390597,0.420344,0.421543,0.197145,-0.147589,1.000000,0.977587,0.728018,0.164655,0.505133,0.087915,0.008371,0.099562,0.328273,0.353334,NaN
WSgust,0.443923,0.384870,0.410531,0.442563,0.443570,0.221104,-0.131119,0.977587,1.000000,0.827358,0.185546,0.562013,0.085957,0.009440,0.107898,0.357374,0.380626,NaN
WSstdev,0.399646,0.343437,0.367005,0.398559,0.398978,0.227084,-0.075714,0.728018,0.827358,1.000000,0.240927,0.593584,0.065415,0.010888,0.105231,0.345920,0.359923,NaN
WD,0.089896,-0.017950,0.154095,0.057154,0.061090,0.094900,0.521269,0.164655,0.185546,0.240927,1.000000,0.281328,-0.074086,0.004054,-0.014130,0.199702,0.198834,NaN
WDstdev,0.479291,0.397511,0.454318,0.472525,0.472106,0.361367,-0.075874,0.505133,0.562013,0.593584,0.281328,1.000000,-0.027050,0.015324,0.028455,0.503350,0.498621,NaN
BP,0.059116,0.047465,0.052307,0.064175,0.068740,-0.520770,0.225176,0.087915,0.085957,0.065415,-0.074086,-0.027050,1.000000,-0.005357,0.044753,-0.188079,-0.101459,NaN
Cleaning,0.024725,0.019777,0.026179,0.022523,0.023482,0.019391,-0.007095,0.008371,0.009440,0.010888,0.004054,0.015324,-0.005357,1.000000,0.001598,0.025159,0.025744,NaN
Precipitation,-0.034598,-0.031397,-0.033330,-0.034314,-0.034269,-0.060178,0.068177,0.099562,0.107898,0.105231,-0.014130,0.028455,0.044753,0.001598,1.000000,-0.046068,-0.044670,NaN
TModA,0.898211,0.765881,0.802319,0.886888,0.885551,0.805580,-0.244825,0.328273,0.357374,0.345920,0.199702,0.503350,-0.188079,0.025159,-0.046068,1.000000,0.985069,NaN
TModB,0.919220,0.783572,0.820360,0.906796,0.906427,0.740832,-0.224668,0.353334,0.380626,0.359923,0.198834,0.498621,-0.101459,0.025744,-0.044670,0.985069,1.000000,NaN
Comments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

------------------------------------------------------------------------------------------------------------------------

**The summary statistics provide a high-level overview of the data, which can be used to identify patterns and relationships in the data.**

------------------------------------------------------------------------------------------------------------------------

In [62]:
# select higher mean value from the dataset between togo, benin and sierra leone
def select_higher_mean(df1, df2, df3, names):
    """
    Select the name of the dataset with the highest mean value.
    Parameters:
        df1 (pd.DataFrame): The first DataFrame to compare.
        df2 (pd.DataFrame): The second DataFrame to compare.
        df3 (pd.DataFrame): The third DataFrame to compare.
        names (list): List of names corresponding to the datasets [name1, name2, name3].
    Returns:
        str: The name of the dataset with the highest mean value.
    """
    means = [df1.mean(numeric_only=True).mean(), df2.mean(numeric_only=True).mean(), df3.mean(numeric_only=True).mean()]
    max_index = means.index(max(means))
    return names[max_index]

In [67]:
# Select the dataset with the highest mean value
# necessary columns to be selected
relevant_columns = ['GHI', 'DNI', 'DHI', 'Tamb', 'RH', 'Precipitation', 'Cleaning']
# names of the datasets
names = ['Togo', 'Benin', 'Sierra Leone']

In [68]:
# call the function to select the dataset with the highest mean value
highest_mean_df = select_higher_mean(togo_df[relevant_columns], benin_df[relevant_columns], sierralone_df[relevant_columns], names)

print(f"The dataset with the highest mean value is: {highest_mean_df}")

The dataset with the highest mean value is: Benin

In [69]:
# select higher median value from the dataset between togo, benin and sierra leone
def select_higher_median(df1, df2, df3, names):
    """
    Select the name of the dataset with the highest median value.
    Parameters:
        df1 (pd.DataFrame): The first DataFrame to compare.
        df2 (pd.DataFrame): The second DataFrame to compare.
        df3 (pd.DataFrame): The third DataFrame to compare.
        names (list): List of names corresponding to the datasets [name1, name2, name3].
    Returns:
        str: The name of the dataset with the highest median value.
    """
    medians = [df1.median(numeric_only=True).mean(), df2.median(numeric_only=True).mean(), df3.median(numeric_only=True).mean()]
    max_index = medians.index(max(medians))
    return names[max_index]

In [70]:
# Select the dataset with the highest median value
highest_median_df = select_higher_median(togo_df[relevant_columns], benin_df[relevant_columns], sierralone_df[relevant_columns], names)
print(f"The dataset with the highest median value is: {highest_median_df}")

The dataset with the highest median value is: Sierra Leone

In [71]:
# select higher standard deviation value from the dataset between togo, benin and sierra leone
def select_higher_std(df1, df2, df3, names):
    """
    Select the name of the dataset with the highest standard deviation value.
    Parameters:
        df1 (pd.DataFrame): The first DataFrame to compare.
        df2 (pd.DataFrame): The second DataFrame to compare.
        df3 (pd.DataFrame): The third DataFrame to compare.
        names (list): List of names corresponding to the datasets [name1, name2, name3].
    Returns:
        str: The name of the dataset with the highest standard deviation value.
    """
    stds = [df1.std(numeric_only=True).mean(), df2.std(numeric_only=True).mean(), df3.std(numeric_only=True).mean()]
    max_index = stds.index(max(stds))
    return names[max_index]

In [73]:
# Select the dataset with the highest standard deviation value
highest_std_df = select_higher_std(togo_df[relevant_columns], benin_df[relevant_columns], sierralone_df[relevant_columns], names)
print(f"The dataset with the highest standard deviation value is: {highest_std_df}")

The dataset with the highest standard deviation value is: Benin

------------------------------------------------------------------------------------------------------------------------

**The functions above were used to select the dataset with the highest mean, median, and standard deviation values.**
so the best dataset is the one with the highest mean, median, and standard deviation values.

------------------------------------------------------------------------------------------------------------------------

The Benin dataset has the highest mean value, the Sierra Leone dataset has the highest median value, and the Togo dataset has the highest standard deviation value.